<div class="container" id="root" (click)= "onUpdateCredit()">
  
  <div class = "row">

    <!-- Credit Score Card--> 
    <div class="card col-md-6 col-lg-4 credit-score-card rounded-3 shadow-lg">
      <div class="card-body">
        <h3 class="card-title">Welcome back,<span class="directive"> {{name}}</span></h3>
        <p class="card-text">Your Credit Score</p>

        <!--Credit Score-->
        <div class="credit-score-arc container">
          <div class="credit-score">{{ creditScore }}</div>
          <div class="credit-rating">{{ creditRating }}</div>
          <round-progress [current]=this.creditScore [max]="850" [radius]="100" [color] = this.getColor(this.creditRating) [responsive]="true" [rounded]="true" [stroke]="10" [semicircle]="true"></round-progress>
        </div>

        <!--Credit Factors-->
        <h6>Credit Factors</h6>
        <div class="row">
        <div 
        *ngFor = "let item of creditFactors; let i = index"class = "col-md-6 p-0">
          <div class = "credit-factor-color  rounded shadow-sm" [ngStyle]="{'background-color':this.CREDIT_API(this.creditFactors[i].detail,this.creditFactors[i].title) ==='good'? '#3DDB93': this.CREDIT_API(this.creditFactors[i].detail,this.creditFactors[i].title) ==='bad'? '#FC6565' : '#FFD22A'}">
            <div class="credit-factor-card rounded-end p-1">
             <h5> {{creditFactors[i].title}}</h5>
              <p class = "credit-factor-text">{{creditFactors[i].detail}}</p>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>
    <div class="feature col-md-6 align-middle">
        <div class = "feature-num">
            2
        </div>
        <h2 class="feature-title">Insights</h2>
        <p class = "feature-text"> Learn what affects your credit scores and what you can do to improve them</p>
  </div>
</div> 
  </div>
  